.eslintrc.json
.github
.gitignore
.prettierrc
.vscode
CODE_OF_CONDUCT.md 
doc
lib/*.md
lib/browser/*.map
lib/dist/*.map
lib/rollup.config.js
lib/src
lib/test
lib/testdata
lib/tsconfig.json
node_modules  
package-lock.json
samples
SECURITY.md  
SUPPORT.md