.eslintrc.json
.github
.gitignore
.prettierrc
.vscode
CODE_OF_CONDUCT.md 
doc
node_modules  
package-lock.json
samples
SECURITY.md  
SUPPORT.md
lib/*.md
lib/src
lib/test
lib/testdata
lib/rollup.config.js
lib/tsconfig.json
lib/dist/*.map