body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#urlsInput, #platform {
    width: 110%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block; 
}
button:hover {
    background-color: #007B9A;
}
#output {
    margin-top: 20px;
    width: 65%;
    max-width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    word-wrap: break-word;
}
.section {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.scrollable-content {
    height: calc(100vh - 80px);  
    overflow-y: scroll; 
    padding-right: 20px;  
}

h1 {
    background-color: #f4f4f4;  /* Same as body to maintain consistent appearance */
    padding: 20px;
    margin-left: 220px;  /* Offset for the sidebar */
    width: calc(100% - 240px);  /* Adjust the width to align with the scrollable content */
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;  
}

h2 {
    color: #333;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;  /* Set a fixed width for the sidebar or adjust as needed */
    padding: 10px;
}
#itemUrl, #xpocUri {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
#xpocUri {
    margin-right: 10px;
}

#output {
    white-space: pre-wrap;
}

.styled-input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;  /* Matching the button's font size */
    box-sizing: border-box; /* To make sure padding doesn't increase the total width */
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;  /* vertically aligns content */
    justify-content: center;  /* horizontally aligns content */
    padding: 0;
    width: calc(100% - 40px);  /* Keep as it was */
    max-width: 100%;
    box-sizing: border-box;
}

.main {
    margin-top: 0;
    flex: 1;
    padding: 0 20px;  /* Adjusted padding */
    margin-left: 220px;
    box-sizing: border-box;
    width: calc(100% - 240px);
}

ul {
    list-style-type: none;
    padding-left: 0;
}
